repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.8.0
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]

- repo: https://github.com/astral-sh/uv-pre-commit
  # uv version.
  rev: 0.5.5
  hooks:
    # Update the uv lockfile
    - id: uv-lock
- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: ./.venv/bin/pytest tests/.
      language: python
      pass_filenames: false
      always_run: true
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.389
  hooks:
    - id: pyright
      args: ["--project", "src/inspeqtor/."]
